#draw_board {
    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 0, 0, 0.952);
    width: 100%;
    height: 100%;
    min-height: 200px;
}

.svg_node {
    width: auto;
}

.svg_node_frame {
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
}