#now_status {
    justify-self: start;
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    justify-items: start;
}

#buff_bar {
    display: grid;
    grid-template-columns: repeat(auto-fill, 26px);
    justify-items: start;
    width: 100%;
}

.buff_item {
    display: grid;
    grid-template-rows: 20px 32px;
    justify-items: center;
    justify-content: center;
}

.buff_time {
    text-align: center;
    font-size: 14px;
}

.buff_icon {
    width: auto;
}