#ac_trigger_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.ac_item {
    padding: 1px;
    margin-left: 7px;
    margin-right: 7px;
}

.ac_triggered {
    outline-color: rgb(225, 228, 59);
    outline-style: dashed;
    outline-width: 4px;
}

.magic_value_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.magic_value_half_box {
    width: 84px;
    height: 93px;
    line-height: 20px;
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
    display: flex;
    align-items: center;
}

.half_box_left {
    border-radius: 30px 0px 0px 30px;
    justify-content: flex-end;
}

.half_box_right {
    border-radius: 0px 30px 30px 0px;
    justify-content: flex-start;
}

.magic_value_num {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 36px;
    text-align: center;
    font-family: SourceHanSansSC-regular;
}

button {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 10px;
    width: 70px;
    height: 42px;
    box-shadow: 0 6px #999;
}

button:focus {
    outline: none;
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 3px #666;
    border: none;
}

#roll_btn {
    background-color: rgb(255, 47, 47);
    color: #ffe4e4;
}

#roll_btn:hover {
    background-color: #d12a2a;
}
