#init_status {
    display: flex block;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
}

#ac_trigger_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.ac_item {
    padding: 1px;
    margin-left: 7px;
    margin-right: 7px;
}

.ac_triggered {
    outline-color: rgb(225, 228, 59);
    outline-style: dashed;
    outline-width: 4px;
}

.magic_value_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.magic_value_half_box {
    width: 84px;
    height: 93px;
    line-height: 20px;
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
    display: flex;
    align-items: center;
}

.half_box_left {
    border-radius: 30px 0px 0px 30px;
    justify-content: flex-end;
}

.half_box_right {
    border-radius: 0px 30px 30px 0px;
    justify-content: flex-start;
}

.magic_value_num {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 36px;
    text-align: center;
    font-family: SourceHanSansSC-regular;
}
